<div id="list" class="tab-pane fade in active">
    <table  class="table table-striped table-bordered" cellspacing="0" width="100%">
        <h3>Lista de alunos</h3>
        <div>
             <input type="search" class="form-control" ng-model="aluno.nome" id="search" placeholder="Procurar por nome">
        </div>
        <thead>
            <tr>
                <th>#</th>
                <th>NOME</th>
                <th>CURSO</th>
                <th>MATRÍCULA</th>
                <th>TELEFONE</th>
                <th>EMAIL</th>
                <th>CEP</th>
                <th>CPF</th>
                <th>PAGAMENTO</th>
                <th>FIM DO CURSO</th>
                <th>OBSERVAÇÃO</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>#</th>
                <th>NOME</th>
                <th>CURSO</th>
                <th>MATRÍCULA</th>
                <th>TELEFONE</th>
                <th>EMAIL</th>
                <th>CEP</th>
                <th>CPF</th>
                <th>PAGAMENTO</th>
                <th>FIM DO CURSO</th>
                <th>OBSERVAÇÃO</th>
            </tr>
        </tfoot>

        <tbody>
            <tr ng-repeat="aluno in alunos| filter: aluno.nome | orderBy:'nome'">
                <td>{{$index + 1}}</td>
                <td>{{aluno.nome}}</td>
                <td>{{aluno.cursos}}</td>
                <td>{{aluno.criadoEm| date:'medium'}}</td>
                <td>{{aluno.telefones}}</td>
                <td>{{aluno.email}}</td>
                <td>{{aluno.cep}}</td>
                <td>{{aluno.cpf}}</td>
                <td>{{aluno.pagamento}}</td>
                <td>{{aluno.fimDoCurso}}</td>
                <td>{{aluno.observacao}}</td>  
            </tr>
        </tbody>     
    </table>
    <div class="form-linear" >
        <button type="button" class="btn btn-warning btn-lg" ng-click="updateProduto(aluno.id)" data-toggle="modal" data-target="#edit">Editar</button>
        <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#delete">Excluir</button>
    </div>
</div>
<div class="modal fade" id="edit" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">EDITAR INFORMAÇÕES</h3>
            </div>
            <div class="modal-body">
                <form id="maskForm" method="post" <!--ng-submit="editAluno()-->">
            <div class="panel-body">
                <input type="text" class="form-control" id="nome" placeholder="Nome completo" ng-model="aluno.nome" required>
            </div>
            <div class="panel-body">
                <input type="text" class="form-control" id="telefones" ng-model="aluno.cursos" placeholder="Cursos" required>
            </div>
            <div class="panel-body">
                <h4>AULAS</h4>
            <div class="form-inline">
                <input type="text" class="form-control" id="diaDasAulas" placeholder="Dias das aulas" ng-model="aluno.diaDasAulas" required>
                <input type="text" class="form-control" id="telefones" ng-model="aluno.horarios" placeholder="Horário das aulas" required>
            </div>
            </div>
            <div class="panel-body">
                <h4>TELEFONES</h4>
                <div class="form-inline" >
                    <input type="text" class="form-control" id="telefones" ng-model="aluno.telefones" placeholder="Celular | Casa" required>
                </div>
            </div>
            
            <div class="panel-body">
                <h4>EMAIL</h4>
                <div class="form-group" >
                    <input type="text" class="form-control" id="email" ng-model="aluno.email" placeholder="fulano@algo.com" required>
                </div>
            </div>
                      
            <div class="panel-body">
            <div class="form-group" >
                <label for="cep">CEP:</label>
                <input type="text" class="form-control" id="cep" ng-model="aluno.cep" placeholder="12345-123" required>
                <label for="cpf">CPF:</label>
                <input type="text" class="form-control" id="cep" ng-model="aluno.cpf" placeholder="123.456.789-00" required>
            </div>
            </div>
            <div class="panel-body">
            <div class="form-group">
                <label for="pagamento">FORMA DE PAGAMENTO</label>
                <select class="form-control" id="pagamento" ng-model="aluno.pagamento" required>
                    <option>Selecione opção</option>
                    <option>A vista</option>
                    <option>Cartão de crédito</option>
                    <option>Boleto bancário</option> 
                </select>
            </div>
            </div>
            
            <div class="panel-body">
            <div class="form-inline" >
                <label for="fimDoCurso">DATA FIM DO CURSO</label>
                <input type="text" class="form-control" id="fimDoCurso" ng-model="aluno.fimDoCurso" placeholder=" 12/34/5678" required>
            </div>
            </div>
            <div class="panel-body">
                <label for="observacao">OBSERVAÇÃO</label>
                <textarea class="form-control" rows="3" ng-model="aluno.observacao" id="observacao"></textarea>
            <div>
            <div class="panel-body">
            <div>
        </div>
        <script src="namesController.js"></script>
    </div>
