<div class="tab-content">
    <div id="novo" class="tab-pane fade">
        <h4>ADICIONAR ALUNO</h4>
        <form id="maskForm" method="post" ng-submit="createAluno()">
            <div class="panel-body">
                <input type="text" class="form-control" id="nome" placeholder="Nome completo" ng-model="aluno.nome" required>
            </div>
            <div class="panel-body">
                <input type="text" class="form-control" id="telefones" ng-model="aluno.cursos" placeholder="Cursos" required>
            </div>
            <div class="panel-body">
                <h4>AULAS</h4>
            <div class="form-inline">
                <input type="text" class="form-control" id="diaDasAulas" placeholder="Dias das aulas" ng-model="aluno.diaDasAulas" required>
                <input type="text" class="form-control" id="telefones" ng-model="aluno.horarios" placeholder="Horário das aulas" required>
            </div>
            </div>
            <div class="panel-body">
                <h4>TELEFONES</h4>
                <div class="form-inline" >
                    <input type="text" class="form-control" id="telefones" ng-model="aluno.telefones" placeholder="Celular | Casa" required>
                </div>
            </div>
            
            <div class="panel-body">
                <h4>EMAIL</h4>
                <div class="form-group" >
                    <input type="text" class="form-control" id="email" ng-model="aluno.email" placeholder="fulano@algo.com" required>
                </div>
            </div>
            
            <div class="panel-body">
            <div class="form-group" >
                <label for="cep">CEP:</label>
                <input type="text" class="form-control" id="cep" ng-model="aluno.cep" placeholder="12345-123" required>
                <label for="cpf">CPF:</label>
                <input type="text" class="form-control" id="cep" ng-model="aluno.cpf" placeholder="123.456.789-00" required>
            </div>
            </div>
            <div class="panel-body">
            <div class="form-group">
                <label for="pagamento">FORMA DE PAGAMENTO</label>
                <select class="form-control" id="pagamento" ng-model="aluno.pagamento" required>
                    <option>Selecione opção</option>
                    <option>A vista</option>
                    <option>Cartão de crédito</option>
                    <option>Boleto bancário</option> 
                </select>
            </div>
            </div>
            
            <div class="panel-body">
            <div class="form-inline" >
                <label for="fimDoCurso">DATA FIM DO CURSO</label>
                <input type="text" class="form-control" id="fimDoCurso" ng-model="aluno.fimDoCurso" placeholder=" 12/34/5678" required>
            </div>
            </div>
            <div class="panel-body">
                <label for="observacao">OBSERVAÇÃO</label>
                <textarea class="form-control" rows="3" ng-model="aluno.observacao" id="observacao"></textarea>
            <div>
            <div class="panel-body">
            <div>
                <button type="submit" class="btn btn-success btn-lg"  data-target="#list">Salvar</button>
            </div>
            </div>

        </form>

    </div>
</div>